In [30]:
#import pandas as pd
#from nsepython import *

In [31]:
#!pip install nsepython
#fnolist = fnolist()

Requirement already satisfied: nsepython in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (0.0.972)
Requirement already satisfied: requests in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from nsepython) (2.26.0)
Requirement already satisfied: pandas in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from nsepython) (1.3.3)
Requirement already satisfied: scipy in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from nsepython) (1.8.0)
Requirement already satisfied: pytz>=2017.3 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from pandas->nsepython) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from pandas->nsepython) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from pandas->nsepython) (1.21.2)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->nsepython) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from requests->nsepython) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from requests->nsepython) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from requests->nsepython) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/Spring_2021/lib/python3.8/site-packages (from requests->nsepython) (3.3)

In [51]:
from sqlalchemy import create_engine

In [47]:
prices = []

In [48]:
for i in range(len(fnolist)):
    p1 = nse_quote_ltp(fnolist[i])
    prices.append(p1)

In [52]:
price_dataframe = pd.DataFrame(
{"Stock_Ticker" : fnolist,
"Prices" : prices}
)

In [53]:
price_dataframe

    Stock_Ticker    Prices
0          NIFTY  17670.45
1      BANKNIFTY  37148.50
2           BHEL     53.80
3        HDFCAMC   2287.00
4     MANAPPURAM    120.70
..           ...       ...
193    NAM-INDIA    338.40
194        ALKEM   3498.00
195      IPCALAB   1028.00
196    INTELLECT    912.00
197         ATUL   9844.95

[198 rows x 2 columns]

In [54]:
engine = create_engine('mysql+mysqldb://admin:sql_2021@project-db.c8h2tkspsqfa.us-east-1.rds.amazonaws.com/Stock_Prices')

In [55]:
price_dataframe.to_sql('Stock_Prices', engine, if_exists ='replace', index = False)